    <footer>
        <p class="text-muted credit">{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{now.Format "2006"}} Matt Barnes. All rights reserved. {{end}}</p>
    </footer>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ .Site.BaseURL }}/js/jquery-1.10.2.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/hc.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#male').DataTable({
              "ajax": "mbarnes1.github.io/dirtydozen/data/male.json"
          });
      } );
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#female').DataTable({
              "ajax": "mbarnes1.github.io/dirtydozen/data/female.json"
          });
      } );
    </script>
</body>

</html>
